body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.todo-create {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.todo-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid lightblue;
  outline: none;
}
.todo-button {
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  color: wheat;
  background: blueviolet;
  font-weight: 700;
  margin-top: 10px;
  cursor: pointer;
}
.todo-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px;
  border: 1px solid lavender;
  border-radius: 5px;
  margin-top: 10px;
}
.todo-icons {
  font-size: 25px;

}
.todo-remove {
  margin-right: 3px;
  cursor: pointer;
  color: crimson;
}
.todo-edit {
  cursor: pointer;
  color: green;
}